
:root {
    --bg-yellow: #FFDE00;
}

.line {
    display: inline-block;
    width: 2px;
    height: 30px;
    position: relative;
    bottom: -15px;
    background: var(--bg-yellow);
    margin-right: 10px ;
    margin-left: 10px ;
}

.brand {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
}