{% extends 'base.html.twig' %}

{% block title %}Hello AboutPicostController!
{% endblock %}

{% block body %}
	<div class="text-center mb-5 py-5">
		<h1>
			<span class="line rounded-circle mx-2"></span>
			<span class="brand-anim ">Picost</span>
		</h1>
	</div>

	<div class="container mt-5">
		<div class="row flex-column">
			<div class="text-justify my-2">
				<h4>Solution for picture</h4>
				<p>Projet de developpement web qui vise à permettre à l'utilisateur d'organiser comme il le souhaite ses photos sous forme d'album. Ce projet est dédié au professionnel de la photographie pour leur permettre d'organiser et livrer leur commande plus facilement, ou encore présenter leurs derniers projets</p>
			</div>

			<div class="text-justify my-2">
				<h4>Le besoin</h4>
				<p class="blockquote-footer">
					Un photographe professionnel demande à ce qu'on lui créé une application web pour stocker, organiser et montrer ses photos ainsi que proposer ses pretations au grand public. Il souhaite par le biais de cet outil, pouvoir démarcher, vendre, rendre la prestation demander au futur client. Il souhaite utiliser cette application sur différent support (ordinateur, tablette, smartphone) selon le contact qu'il aura avec son client. Il doit pouvoir montrer et proposer ses prestations et ses travaux au grand public lui permettant ainsi avec un outil flexible et dynamique mais aussi esthétique et pro, de démarcher ses clients avec une présentation de ses travaux qu'il pourra mettre à jour régulièrement et selon son besoin. Pour montrer ses travaux il a l'habitude de créer des albums par thème dans lesquel il regroupe les photos répondant à ce thème. Cela lui permet aurpès d'un client de montrer ses compétences selon tel ou tel besoin (ex : des portraits, des paysages, des évènements etc...).
				</p>
			</div>
			<div class="text-justify my-2">
				<h4>What next ?</h4>
				Prochain fonctionnalité en développement :
				<ul class=" list-group list-group-flush">
					<li class="list-group-item">
						<input class="form-check-input me-1" type="checkbox" value="">
						Tarif des prestations dynamique
					</li>
					<li class=" list-group-item">
						<input class="form-check-input me-1" type="checkbox" value="">
						Session album privé pour le rendu de prestation
					</li>
				</ul>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
