{% extends 'base.html.twig' %}

{% block title %}Hello AboutPicostController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row flex-column">
			<div>

				<h1>Picost ®
				</h1>
			</div>

			<div>
				<h4>Solution for pictures</h4>
				<p class="">Projet de developpement web qui vise à permettre à l'utilisateur d'organiser comme il le souhaite ses photos sous forme d'album.</p>
			</div>

			<div>
				<h4>Le besoin</h4>
				<p>
					Un photographe professionnel demande à ce qu'on lui créé une application web pour stocker, organiser et montrer ses photos ainsi que proposer ses pretations au grand public.Il souhaite par le biais de cet outil, pouvoir démarcher, vendre, rendre la prestation demander au futur client. Il souhaite utiliser cette application sur différent support _(ordinateur, tablette, smartphone)_ selon le contact qu'il aura avec son client.Il doit pouvoir montrer et proposer ses prestations et ses travaux au grand public lui permettant ainsi avec un outil flexible et dynamique mais aussi esthétique et pro, de démarcher ses clients avec une présentation de ses travaux et de ses tarifs qu'il pourra mettre à jour régulièrement et selon son besoin. Pour montrer ses travaux il a l'habitude de créer des albums par thème dans lesquel il regroupe les photos répondant à ce thème. Cela lui permet aurpès d'un client de montrer ses compétences selon tel ou tel besoin _(ex : des portraits, des paysages, des évènements etc...)_.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
