{% extends 'base.html.twig' %}

{% block title %}Edit Photo
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row align-items-center flex-column">
			<h1>Edit Photo</h1>

			{{ include('photo/_formedit.html.twig', {'button_label': 'Update'}) }}

			<a href="{{ path('photo_index') }}">back to list</a>

			{{ include('photo/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
