{% extends 'base.html.twig' %}

{% block title %}Add Pic
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row align-items-center flex-column">
			<h1>Add Pic</h1>


			{{ include('photo/_formnew.html.twig') }}
		</div>

	</div>


{% endblock %}
