{% extends 'base.html.twig' %}

{% block title %}Picbook
{% endblock %}

{% block body %}
	<div class="container-fluid py-5">
		<h2 class="text-center">Picbook</h2>

		{% block albums %}
			<div class="row  justify-content-center align-items-center align-items-md-start flex-column flex-md-row">
				{% include "album/_navalbums.html.twig" %}

				<div class="col-9 rounded bg-dark row justify-content-center py-3 ">
					{% for p in albums[0].photos %}
						{% include "album/_gallerypattern.html.twig" %}

					{% endfor %}
				</div>

			</div>
		{% endblock %}
	</div>
{% endblock %}
