{% extends 'base.html.twig' %}

{% block title %}Picbook -
	{{album.name}}
{% endblock %}

{% block body %}
	<div class="container py-5">
		{% block albums %}
			<a class="btn btn-dark" href="{{ path('photo_new', {'id': album.id}) }}">Add Pic</a>

			<h2 class="text-center">{{album.name}}</h2>
			<div class="row justify-content-center align-items-center align-items-md-start flex-column flex-md-row">
				{% include "album/_navalbums.html.twig" %}

				<div class="col-10 bg-dark row justify-content-center py-3">
					{% for p in album.photos %}
						{% include "album/_gallerypattern.html.twig" %}


					{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
