{% extends 'base.html.twig' %}

{% block title %}Album index
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2>Album index</h2>
		{% block albums %}
			<div class="row justify-content-center align-items-center align-items-md-start flex-column flex-md-row">
					{% include "album/_navalbums.html.twig" %}

				<div class="col-10 bg-dark row justify-content-center py-3">
					{% for p in album.photos %}
											{% include "album/_gallerypattern.html.twig" %}


					{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
